{{% BLOCKS }}
<!DOCTYPE html>
<html lang="de">
<head>
  <title>Mustache extended</title>
{{$ styles }}{{/ styles }}
</head>
<body>
  {{$ navi }}{{/ navi }}

  {{$ content2 }}{{/ content2 }}
  {{$ content1 }}{{/ content1 }}



</body>
</html>
